<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>One Wolf</title>
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wolf/new">Add a wolf</a>
        </li>
    </ul>
    <div id="container">
        <h1><%= wolf.name %></h1>
        <h2>Age: <%= wolf.age %></h2>
        <h2>Color: <%= wolf.color %></h2>
        <a href="/wolf/edit/<%= wolf._id %>"><button class="#">Edit wolf</button></a>
        <a href= "/wolf/destroy/<%= wolf._id %>">Delete wolf</a>
            
        </form>
    </div>
</body>
</html>